In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data_dash = pd.read_csv('Dash Nobu 10 Maret 24.csv')

In [4]:
data_dash_raw = pd.read_csv('Dash Nobu 10 Maret 24.csv')

In [5]:
data_gds = pd.read_csv('GDS Nobu 10 Maret 24.csv')

In [6]:
data_gds_raw = pd.read_csv('GDS Nobu 10 Maret 24.csv')

In [7]:
print(len(data_dash))
print(len(data_gds))

328235
328233

In [8]:
data_dash.rename(columns={"Merchant Transaction Number": "MTN"}, inplace=True)

In [9]:
data_gds = data_gds.drop(['settlement_time', 'charge_vendor_code','merchant_id', 'Transaction SN'],axis = 1)

In [10]:
data_dash = data_dash.drop(['Diterima Dari', 'MPAN', 'MID','NMID','TID','Tipe','Kode Persetujuan','No. Referensi Pengambilan','Kode Transaksi','Catatan','Extended Merchant Trx No','Loyalty Number'], axis=1)

In [11]:
data_dash[data_dash.duplicated()]

,Tanggal,Nama Toko,Penerbit,Nominal Transaksi (Rp),MDR (%),Biaya MDR (Rp),Jumlah (Rp),MTN
275373,3/10/24 9:48,Qasir,BCA,21000,0.7,147.0,20853.0,02X38T6XWCWR45EW5YYI

In [12]:
dash_duplicated = data_dash[data_dash.duplicated()]

In [13]:
data_dash = data_dash.drop_duplicates()

In [14]:
data_gds[data_gds.duplicated()]

Empty DataFrame
Columns: [created_datetime, last_updated_datetime, settlement_amount, username, product_type, charge_status, admin_fee, base_admin_fee, admin_fee_invoice, deduction_cost, deduction_cost_gross, transaction_amount, id, qr_id, Transaction Channel Type]
Index: []

In [15]:
gds_duplicated = data_gds[data_gds.duplicated()]

In [16]:
data_gds = data_gds.drop_duplicates()

In [17]:
data_dash = data_dash.add_suffix('_DASH')

In [18]:
data_gds = data_gds.add_suffix('_GDS')

In [19]:
data_compare = pd.merge(data_dash,data_gds, left_on='MTN_DASH', right_on='qr_id_GDS', how='outer', indicator=True)

In [20]:
data_compare['Match?'] = np.where((data_compare['MTN_DASH'] == data_compare['qr_id_GDS']) & (data_compare['Nominal Transaksi (Rp)_DASH'] == data_compare['transaction_amount_GDS']) , "Recon", "Unrecon")

In [21]:
data_compare

,Tanggal_DASH,Nama Toko_DASH,Penerbit_DASH,Nominal Transaksi (Rp)_DASH,MDR (%)_DASH,Biaya MDR (Rp)_DASH,Jumlah (Rp)_DASH,MTN_DASH,created_datetime_GDS,last_updated_datetime_GDS,...,base_admin_fee_GDS,admin_fee_invoice_GDS,deduction_cost_GDS,deduction_cost_gross_GDS,transaction_amount_GDS,id_GDS,qr_id_GDS,Transaction Channel Type_GDS,_merge,Match?
0,3/10/24 23:59,anugrah34508,BCA,1000000,0.7,7000.00,993000.00,0TDO3NKBMK1L0KOZEDAD,"Mar 10, 2024, 11:58:56 PM","Mar 10, 2024, 11:59:53 PM",...,7027.0,0.0,5110.00000,7000.000,1000000.0,2403OMY21IT9,0TDO3NKBMK1L0KOZEDAD,OFF_US,both,Recon
1,3/10/24 23:59,bimteksantosha,ShopeePay,12094,0.7,84.66,12009.34,0V1Y2YITYY3XUFZAF8KP,"Mar 10, 2024, 11:50:51 PM","Mar 10, 2024, 11:59:53 PM",...,100.0,0.0,61.80034,84.658,12094.0,2403YTRISEJ8,0V1Y2YITYY3XUFZAF8KP,OFF_US,both,Recon
2,3/10/24 23:59,anugrah34508,Seabank,30000,0.7,210.00,29790.00,09YBC1MNG8M5OJI8VO0R,"Mar 10, 2024, 11:59:30 PM","Mar 10, 2024, 11:59:51 PM",...,211.0,0.0,153.30000,210.000,30000.0,2403QIC555JP,09YBC1MNG8M5OJI8VO0R,OFF_US,both,Recon
3,3/10/24 23:59,kaigames08,Bank Aceh Syariah,100000,0.7,700.00,99300.00,0WX1OBKMN6EUFQVPCCN7,"Mar 10, 2024, 11:59:19 PM","Mar 10, 2024, 11:59:50 PM",...,700.0,0.0,511.00000,700.000,100000.0,2403V3KMXJJ8,0WX1OBKMN6EUFQVPCCN7,OFF_US,both,Recon
4,3/10/24 23:59,anugrah34508,JAGO,50000,0.7,350.00,49650.00,012DGQV0Y1LMIF47ARH3,"Mar 10, 2024, 11:58:22 PM","Mar 10, 2024, 11:59:48 PM",...,351.0,0.0,255.50000,350.000,50000.0,2403RPUAY2HI,012DGQV0Y1LMIF47ARH3,OFF_US,both,Recon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328229,3/10/24 0:00,bimteksantosha,OVO,20156,0.7,141.09,20014.91,00JV8U2EU3V7V7PABKSC,"Mar 9, 2024, 11:59:10 PM","Mar 10, 2024, 12:00:02 AM",...,142.0,0.0,102.99716,141.092,20156.0,24031E6JPNGW,00JV8U2EU3V7V7PABKSC,OFF_US,both,Recon
328230,3/10/24 0:00,bimteksantosha,OVO,25195,0.7,176.37,25018.63,0BTVYI97PWPFNYBCCIUF,"Mar 9, 2024, 11:58:38 PM","Mar 10, 2024, 12:00:02 AM",...,177.0,0.0,128.74645,176.365,25195.0,2403LAZ60RYU,0BTVYI97PWPFNYBCCIUF,OFF_US,both,Recon
328231,3/10/24 0:00,bimteksantosha,BCA,25195,0.7,176.37,25018.63,0TGVFP8TIHPCIIDTB41X,"Mar 9, 2024, 11:59:34 PM","Mar 10, 2024, 12:00:02 AM",...,177.0,0.0,128.74645,176.365,25195.0,24034O938GC2,0TGVFP8TIHPCIIDTB41X,OFF_US,both,Recon
328232,3/10/24 0:00,bimteksantosha,OVO,20156,0.7,141.09,20014.91,017I1PORA5TMX7HY3PND,"Mar 9, 2024, 11:58:34 PM","Mar 10, 2024, 12:00:00 AM",...,142.0,0.0,102.99716,141.092,20156.0,2403JGAIQSFM,017I1PORA5TMX7HY3PND,OFF_US,both,Recon
328233,3/10/24 0:00,bimteksantosha,OVO,20156,0.7,141.09,20014.91,017I1PORA5TMX7HY3PND9999,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,Unrecon

In [22]:
data_compare['_merge'] = data_compare['_merge'].cat.rename_categories({'left_only': 'Dash Only', 'right_only': 'GDS Only'})

In [23]:
data_compare

,Tanggal_DASH,Nama Toko_DASH,Penerbit_DASH,Nominal Transaksi (Rp)_DASH,MDR (%)_DASH,Biaya MDR (Rp)_DASH,Jumlah (Rp)_DASH,MTN_DASH,created_datetime_GDS,last_updated_datetime_GDS,...,base_admin_fee_GDS,admin_fee_invoice_GDS,deduction_cost_GDS,deduction_cost_gross_GDS,transaction_amount_GDS,id_GDS,qr_id_GDS,Transaction Channel Type_GDS,_merge,Match?
0,3/10/24 23:59,anugrah34508,BCA,1000000,0.7,7000.00,993000.00,0TDO3NKBMK1L0KOZEDAD,"Mar 10, 2024, 11:58:56 PM","Mar 10, 2024, 11:59:53 PM",...,7027.0,0.0,5110.00000,7000.000,1000000.0,2403OMY21IT9,0TDO3NKBMK1L0KOZEDAD,OFF_US,both,Recon
1,3/10/24 23:59,bimteksantosha,ShopeePay,12094,0.7,84.66,12009.34,0V1Y2YITYY3XUFZAF8KP,"Mar 10, 2024, 11:50:51 PM","Mar 10, 2024, 11:59:53 PM",...,100.0,0.0,61.80034,84.658,12094.0,2403YTRISEJ8,0V1Y2YITYY3XUFZAF8KP,OFF_US,both,Recon
2,3/10/24 23:59,anugrah34508,Seabank,30000,0.7,210.00,29790.00,09YBC1MNG8M5OJI8VO0R,"Mar 10, 2024, 11:59:30 PM","Mar 10, 2024, 11:59:51 PM",...,211.0,0.0,153.30000,210.000,30000.0,2403QIC555JP,09YBC1MNG8M5OJI8VO0R,OFF_US,both,Recon
3,3/10/24 23:59,kaigames08,Bank Aceh Syariah,100000,0.7,700.00,99300.00,0WX1OBKMN6EUFQVPCCN7,"Mar 10, 2024, 11:59:19 PM","Mar 10, 2024, 11:59:50 PM",...,700.0,0.0,511.00000,700.000,100000.0,2403V3KMXJJ8,0WX1OBKMN6EUFQVPCCN7,OFF_US,both,Recon
4,3/10/24 23:59,anugrah34508,JAGO,50000,0.7,350.00,49650.00,012DGQV0Y1LMIF47ARH3,"Mar 10, 2024, 11:58:22 PM","Mar 10, 2024, 11:59:48 PM",...,351.0,0.0,255.50000,350.000,50000.0,2403RPUAY2HI,012DGQV0Y1LMIF47ARH3,OFF_US,both,Recon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328229,3/10/24 0:00,bimteksantosha,OVO,20156,0.7,141.09,20014.91,00JV8U2EU3V7V7PABKSC,"Mar 9, 2024, 11:59:10 PM","Mar 10, 2024, 12:00:02 AM",...,142.0,0.0,102.99716,141.092,20156.0,24031E6JPNGW,00JV8U2EU3V7V7PABKSC,OFF_US,both,Recon
328230,3/10/24 0:00,bimteksantosha,OVO,25195,0.7,176.37,25018.63,0BTVYI97PWPFNYBCCIUF,"Mar 9, 2024, 11:58:38 PM","Mar 10, 2024, 12:00:02 AM",...,177.0,0.0,128.74645,176.365,25195.0,2403LAZ60RYU,0BTVYI97PWPFNYBCCIUF,OFF_US,both,Recon
328231,3/10/24 0:00,bimteksantosha,BCA,25195,0.7,176.37,25018.63,0TGVFP8TIHPCIIDTB41X,"Mar 9, 2024, 11:59:34 PM","Mar 10, 2024, 12:00:02 AM",...,177.0,0.0,128.74645,176.365,25195.0,24034O938GC2,0TGVFP8TIHPCIIDTB41X,OFF_US,both,Recon
328232,3/10/24 0:00,bimteksantosha,OVO,20156,0.7,141.09,20014.91,017I1PORA5TMX7HY3PND,"Mar 9, 2024, 11:58:34 PM","Mar 10, 2024, 12:00:00 AM",...,142.0,0.0,102.99716,141.092,20156.0,2403JGAIQSFM,017I1PORA5TMX7HY3PND,OFF_US,both,Recon
328233,3/10/24 0:00,bimteksantosha,OVO,20156,0.7,141.09,20014.91,017I1PORA5TMX7HY3PND9999,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dash Only,Unrecon

In [24]:
unrecon = data_compare[data_compare['Match?'] == 'Unrecon']

In [25]:
index_unrecon = data_compare[data_compare['Match?'] == 'Unrecon'].index

In [26]:
data_compare = data_compare.drop(index_unrecon)

In [27]:
unrecon.dtypes

Tanggal_DASH                      object
Nama Toko_DASH                    object
Penerbit_DASH                     object
Nominal Transaksi (Rp)_DASH        int64
MDR (%)_DASH                     float64
Biaya MDR (Rp)_DASH              float64
Jumlah (Rp)_DASH                 float64
MTN_DASH                          object
created_datetime_GDS              object
last_updated_datetime_GDS         object
settlement_amount_GDS            float64
username_GDS                      object
product_type_GDS                  object
charge_status_GDS                 object
admin_fee_GDS                    float64
base_admin_fee_GDS               float64
admin_fee_invoice_GDS            float64
deduction_cost_GDS               float64
deduction_cost_gross_GDS         float64
transaction_amount_GDS           float64
id_GDS                            object
qr_id_GDS                         object
Transaction Channel Type_GDS      object
_merge                          category
Match?                            object
dtype: object

In [28]:
with pd.ExcelWriter("Qris Nobu 10 Mar 24 New Template.xlsx") as writer:
    data_gds_raw.to_excel(writer, sheet_name="GDS Raw", index=False)
    data_dash_raw.to_excel(writer, sheet_name="Dash Report Raw", index=False)
    data_compare.to_excel(writer, sheet_name="Line Per Line Recon", index=False)
    unrecon.to_excel(writer, sheet_name="Unrecon", index=False)
    dash_duplicated.to_excel(writer, sheet_name="Multiple MTN Dashboard", index=False)
    gds_duplicated.to_excel(writer, sheet_name="Multiple MTN GDS", index=False)

In [29]:
print("DOne")

DOne

In [30]:
data_dash_raw

,Tanggal,Diterima Dari,Nama Toko,MPAN,MID,NMID,TID,Penerbit,Tipe,Nominal Transaksi (Rp),MDR (%),Biaya MDR (Rp),Jumlah (Rp),Kode Persetujuan,No. Referensi Pengambilan,Kode Transaksi,Merchant Transaction Number,Catatan,Extended Merchant Trx No,Loyalty Number
0,3/10/24 23:59,MUHAMMAD NASIR ANSHARI,anugrah34508,9.360050e+17,7.323470e+13,ID2024313868307,A01,BCA,PAY,1000000,0.7,7000.00,993000.00,235953,96657932,1.010220e+30,0TDO3NKBMK1L0KOZEDAD,PAYQR-235953-000096657932-20240310235953,0TDO3NKBMK1L0KOZEDAD,NaN
1,3/10/24 23:59,6.28571E+12,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,ShopeePay,PAY,12094,0.7,84.66,12009.34,63356,AX1NJU5AKZPC,1.010220e+30,0V1Y2YITYY3XUFZAF8KP,PAYQR-063356-AX1NJU5AKZPC-20240310235953,0V1Y2YITYY3XUFZAF8KP,NaN
2,3/10/24 23:59,KARTINI,anugrah34508,9.360050e+17,7.323470e+13,ID2024313868307,A01,Seabank,PAY,30000,0.7,210.00,29790.00,953481,0000000T84ZP,1.010220e+30,09YBC1MNG8M5OJI8VO0R,PAYQR-953481-0000000T84ZP-20240310235951,09YBC1MNG8M5OJI8VO0R,NaN
3,3/10/24 23:59,MELZA MAULANA,kaigames08,9.360050e+17,3.481580e+13,ID2024313822106,A01,Bank Aceh Syariah,PAY,100000,0.7,700.00,99300.00,121212,9.39629E+11,1.010220e+30,0WX1OBKMN6EUFQVPCCN7,PAYQR-121212-939629244363-20240310235950,0WX1OBKMN6EUFQVPCCN7,NaN
4,3/10/24 23:59,HXXXXX,anugrah34508,9.360050e+17,7.323470e+13,ID2024313868307,A01,JAGO,PAY,50000,0.7,350.00,49650.00,BGPH6P,0zy4b1056616,1.010220e+30,012DGQV0Y1LMIF47ARH3,PAYQR-BGPH6P-0zy4b1056616-20240310235947,012DGQV0Y1LMIF47ARH3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328230,3/10/24 0:00,SUJINI,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,OVO,PAY,20156,0.7,141.09,20014.91,247262,22f11fea24a2,1.010220e+30,00JV8U2EU3V7V7PABKSC,PAYQR-247262-22f11fea24a2-20240310000002,00JV8U2EU3V7V7PABKSC,NaN
328231,3/10/24 0:00,ANDRI HERYADI,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,OVO,PAY,25195,0.7,176.37,25018.63,247264,2c27e84c64d1,1.010220e+30,0BTVYI97PWPFNYBCCIUF,PAYQR-247264-2c27e84c64d1-20240310000002,0BTVYI97PWPFNYBCCIUF,NaN
328232,3/10/24 0:00,TEDI ANUGRAH,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,BCA,PAY,25195,0.7,176.37,25018.63,1,92195675,1.010220e+30,0TGVFP8TIHPCIIDTB41X,PAYQR-000001-000092195675-20240310000002,0TGVFP8TIHPCIIDTB41X,NaN
328233,3/10/24 0:00,NOVA KAMARATIH,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,OVO,PAY,20156,0.7,141.09,20014.91,247256,8d75ebf19a7b,1.010220e+30,017I1PORA5TMX7HY3PND,PAYQR-247256-8d75ebf19a7b-20240310000000,017I1PORA5TMX7HY3PND,NaN
328234,3/10/24 0:00,NOVA KAMARATIH,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,OVO,PAY,20156,0.7,141.09,20014.91,247256,8d75ebf19a7b,1.010220e+30,017I1PORA5TMX7HY3PND9999,PAYQR-247256-8d75ebf19a7b-20240310000000,017I1PORA5TMX7HY3PND,NaN

In [31]:
data_dash_raw['Tanggal'] = pd.to_datetime(data_dash_raw['Tanggal']).dt.date

/var/folders/sg/v7nz4brs3sq_pn793b_nw89c0000gp/T/ipykernel_30563/3956244303.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_dash_raw['Tanggal'] = pd.to_datetime(data_dash_raw['Tanggal']).dt.date

In [32]:
data_dash_raw

,Tanggal,Diterima Dari,Nama Toko,MPAN,MID,NMID,TID,Penerbit,Tipe,Nominal Transaksi (Rp),MDR (%),Biaya MDR (Rp),Jumlah (Rp),Kode Persetujuan,No. Referensi Pengambilan,Kode Transaksi,Merchant Transaction Number,Catatan,Extended Merchant Trx No,Loyalty Number
0,2024-03-10,MUHAMMAD NASIR ANSHARI,anugrah34508,9.360050e+17,7.323470e+13,ID2024313868307,A01,BCA,PAY,1000000,0.7,7000.00,993000.00,235953,96657932,1.010220e+30,0TDO3NKBMK1L0KOZEDAD,PAYQR-235953-000096657932-20240310235953,0TDO3NKBMK1L0KOZEDAD,NaN
1,2024-03-10,6.28571E+12,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,ShopeePay,PAY,12094,0.7,84.66,12009.34,63356,AX1NJU5AKZPC,1.010220e+30,0V1Y2YITYY3XUFZAF8KP,PAYQR-063356-AX1NJU5AKZPC-20240310235953,0V1Y2YITYY3XUFZAF8KP,NaN
2,2024-03-10,KARTINI,anugrah34508,9.360050e+17,7.323470e+13,ID2024313868307,A01,Seabank,PAY,30000,0.7,210.00,29790.00,953481,0000000T84ZP,1.010220e+30,09YBC1MNG8M5OJI8VO0R,PAYQR-953481-0000000T84ZP-20240310235951,09YBC1MNG8M5OJI8VO0R,NaN
3,2024-03-10,MELZA MAULANA,kaigames08,9.360050e+17,3.481580e+13,ID2024313822106,A01,Bank Aceh Syariah,PAY,100000,0.7,700.00,99300.00,121212,9.39629E+11,1.010220e+30,0WX1OBKMN6EUFQVPCCN7,PAYQR-121212-939629244363-20240310235950,0WX1OBKMN6EUFQVPCCN7,NaN
4,2024-03-10,HXXXXX,anugrah34508,9.360050e+17,7.323470e+13,ID2024313868307,A01,JAGO,PAY,50000,0.7,350.00,49650.00,BGPH6P,0zy4b1056616,1.010220e+30,012DGQV0Y1LMIF47ARH3,PAYQR-BGPH6P-0zy4b1056616-20240310235947,012DGQV0Y1LMIF47ARH3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328230,2024-03-10,SUJINI,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,OVO,PAY,20156,0.7,141.09,20014.91,247262,22f11fea24a2,1.010220e+30,00JV8U2EU3V7V7PABKSC,PAYQR-247262-22f11fea24a2-20240310000002,00JV8U2EU3V7V7PABKSC,NaN
328231,2024-03-10,ANDRI HERYADI,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,OVO,PAY,25195,0.7,176.37,25018.63,247264,2c27e84c64d1,1.010220e+30,0BTVYI97PWPFNYBCCIUF,PAYQR-247264-2c27e84c64d1-20240310000002,0BTVYI97PWPFNYBCCIUF,NaN
328232,2024-03-10,TEDI ANUGRAH,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,BCA,PAY,25195,0.7,176.37,25018.63,1,92195675,1.010220e+30,0TGVFP8TIHPCIIDTB41X,PAYQR-000001-000092195675-20240310000002,0TGVFP8TIHPCIIDTB41X,NaN
328233,2024-03-10,NOVA KAMARATIH,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,OVO,PAY,20156,0.7,141.09,20014.91,247256,8d75ebf19a7b,1.010220e+30,017I1PORA5TMX7HY3PND,PAYQR-247256-8d75ebf19a7b-20240310000000,017I1PORA5TMX7HY3PND,NaN
328234,2024-03-10,NOVA KAMARATIH,bimteksantosha,9.360050e+17,6.543530e+13,ID2023262936792,A01,OVO,PAY,20156,0.7,141.09,20014.91,247256,8d75ebf19a7b,1.010220e+30,017I1PORA5TMX7HY3PND9999,PAYQR-247256-8d75ebf19a7b-20240310000000,017I1PORA5TMX7HY3PND,NaN

In [33]:
#groupByUsername = data_compare.drop(['_merge','Match?','MTN','qr_id', 'Nominal Transaksi (Rp)'], axis = 1)

In [34]:
#groupByUsername = groupByUsername.groupby(['username','product_type','Transaction Channel Type']).agg({'username':'count','transaction_amount' : 'sum', 'deduction_cost_gross' :'sum', 'admin_fee' : 'sum', 'admin_fee_invoice' : 'sum' })

In [35]:
#groupByUsername.rename(columns={"username": "#Trx"}, inplace=True)

In [36]:
NIC = data_dash_raw[['Tanggal', 'Penerbit', 'Merchant Transaction Number','Nominal Transaksi (Rp)','Biaya MDR (Rp)','Jumlah (Rp)']]

In [37]:
NIC.rename(columns={"Tanggal": "Date", 'Nominal Transaksi (Rp)' : 'TPV', 'Biaya MDR (Rp)' : 'MM Cost', 'Jumlah (Rp)' : 'Settlement Amount', 'Penerbit' : 'Channel Type'}, inplace=True)

/var/folders/sg/v7nz4brs3sq_pn793b_nw89c0000gp/T/ipykernel_30563/2321978597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NIC.rename(columns={"Tanggal": "Date", 'Nominal Transaksi (Rp)' : 'TPV', 'Biaya MDR (Rp)' : 'MM Cost', 'Jumlah (Rp)' : 'Settlement Amount', 'Penerbit' : 'Channel Type'}, inplace=True)

In [38]:
pd.options.mode.copy_on_write = True

In [39]:
NIC[NIC['Channel Type'] == 'Nobu']

,Date,Channel Type,Merchant Transaction Number,TPV,MM Cost,Settlement Amount
8394,2024-03-10,Nobu,03ITNA43YW714SSPX17I,100000,0.0,100000.0
9205,2024-03-10,Nobu,0FRIT9DETPNIBFEVSPDI,40000,0.0,40000.0
19371,2024-03-10,Nobu,0OUZ3214OIJJZD8K8KP4,50000,0.0,50000.0
35763,2024-03-10,Nobu,09KSJZ7FX4CN7A4QYLKR,400000,0.0,400000.0
69382,2024-03-10,Nobu,0WGLYENE4EWURPWZOB6X,100777,0.0,100777.0
91047,2024-03-10,Nobu,0OD51BG0WGE7HJFNSUT5,100000,0.0,100000.0
97144,2024-03-10,Nobu,0VXIZNYO4HPV7CFUBJ2V,1000000,0.0,1000000.0
100314,2024-03-10,Nobu,06150IKDZBAA7JGSXMZA,1300000,0.0,1300000.0
259496,2024-03-10,Nobu,0E0ZGHQXCMRLKZ2KBK05,61000,0.0,61000.0
313687,2024-03-10,Nobu,0DTROYKQJ0K5QSSW11XT,1531856,0.0,1531856.0

In [40]:
offus = NIC[NIC['Channel Type'] != 'Nobu'].index

In [41]:
NIC['Rev Sharing'] = np.nan

In [42]:
NIC.loc[offus, 'Rev Sharing'] = NIC['MM Cost'] - NIC['TPV'] * 0.00189

In [43]:
onus = NIC[NIC['Rev Sharing'].isna()].index

In [44]:
NIC.loc[onus, 'Rev Sharing'] = 0

In [45]:
NIC['Rev Sharing'] = NIC['Rev Sharing'].round(2)

In [46]:
NIC.loc[offus, 'Channel Type'] = "Off Us"

In [47]:
onuscek = data_dash_raw[data_dash_raw['Penerbit'] == 'Nobu'].index

In [48]:
NIC.loc[onuscek, 'Channel Type'] = "On Us"

In [49]:
NIC

,Date,Channel Type,Merchant Transaction Number,TPV,MM Cost,Settlement Amount,Rev Sharing
0,2024-03-10,Off Us,0TDO3NKBMK1L0KOZEDAD,1000000,7000.00,993000.00,5110.00
1,2024-03-10,Off Us,0V1Y2YITYY3XUFZAF8KP,12094,84.66,12009.34,61.80
2,2024-03-10,Off Us,09YBC1MNG8M5OJI8VO0R,30000,210.00,29790.00,153.30
3,2024-03-10,Off Us,0WX1OBKMN6EUFQVPCCN7,100000,700.00,99300.00,511.00
4,2024-03-10,Off Us,012DGQV0Y1LMIF47ARH3,50000,350.00,49650.00,255.50
...,...,...,...,...,...,...,...
328230,2024-03-10,Off Us,00JV8U2EU3V7V7PABKSC,20156,141.09,20014.91,103.00
328231,2024-03-10,Off Us,0BTVYI97PWPFNYBCCIUF,25195,176.37,25018.63,128.75
328232,2024-03-10,Off Us,0TGVFP8TIHPCIIDTB41X,25195,176.37,25018.63,128.75
328233,2024-03-10,Off Us,017I1PORA5TMX7HY3PND,20156,141.09,20014.91,103.00
328234,2024-03-10,Off Us,017I1PORA5TMX7HY3PND9999,20156,141.09,20014.91,103.00

In [50]:
NIC = NIC.groupby(['Date', 'Channel Type']).agg({'Merchant Transaction Number':'count','TPV' : 'sum', 'MM Cost' :'sum', 'Settlement Amount' : 'sum', 'Rev Sharing' : 'sum' })

In [51]:
NIC.rename(columns = {'Merchant Transaction Number' : "#Trx"}, inplace = True)

In [52]:
with pd.ExcelWriter("NIC Qris Nobu.xlsx") as writer:
    NIC.to_excel(writer, sheet_name="NIC Qris Nobu", index=True) #notes : using this code only for the first date

In [53]:
print('Done')

Done

In [54]:
reader = pd.read_excel('NIC Qris Nobu.xlsx')

In [55]:
with pd.ExcelWriter('NIC Qris Nobu.xlsx',
                    mode='a', if_sheet_exists = 'overlay') as writer:  
    NIC.to_excel(writer, sheet_name='NIC Qris Nobu', startrow = len(reader) + 1, header=False, index=True)

In [56]:
#with pd.ExcelWriter("path to file\nobu new.xlsx") as writer:
    #data_compare.to_excel(writer, sheet_name="Line Per Line", index=False)
    #dash_duplicated.to_excel(writer, sheet_name="Multiple", index=False)
    #groupByUsername.to_excel(writer, sheet_name="GroupbyUsername", index=True)

In [57]:
#print("done")

In [58]:
#with pd.ExcelWriter('nobu append.xlsx',
                   # mode='a', if_sheet_exists = 'overlay') as writer:  
    #data_compare.to_excel(writer, sheet_name='Line Per Line', startrow = len(reader) + 1, header=True, index=False)

In [59]:
#print("done")