In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dana_qris_gds = pd.read_csv('GDS Dana qris 31 Jan 24.csv')

In [4]:
dana_qris_gds_raw = pd.read_csv('GDS Dana qris 31 Jan 24.csv')

In [5]:
dana_qris_report = pd.read_csv('Dana qris Report 31 Jan 24.csv')

In [6]:
dana_qris_report_raw = pd.read_csv('Dana qris Report 31 Jan 24.csv')

In [7]:
dana_qris_gds = dana_qris_gds.drop(['settlement_time','charge_vendor_code','id','Transaction SN'], axis=1)

In [8]:
dana_qris_report = dana_qris_report.drop(['SETTLEMENT_TXN_ID','TXN_ID','TXN_TYPE','ACQUIREMENT_ID','MERCHANT_NAME','MERCHANT_REQUEST_ID','MERCHANT_CUST_ID','SHOP_ID','BUYER_MOBILE_NO','DIVISION_ID','ORIGINAL_TXN_ID','ORIGINAL_TXN_DATE'],axis=1)

In [9]:
dana_qris_report[dana_qris_report.duplicated()]

Empty DataFrame
Columns: [MID, SETTLE_DATE, TXN_AMOUNT, TXN_CURRENCY, TXN_DATE, MERCHANT_COMMISSION_EDIK, SERVICE_TAX_EDIK, WITHHOLDING_TAX_EDIK, SETTLE_AMOUNT, MERCHANT_TRANS_ID, PAY_METHOD]
Index: []

In [10]:
dash_duplicated = dana_qris_report[dana_qris_report.duplicated()]

In [11]:
dana_qris_report = dana_qris_report.drop_duplicates()

In [12]:
dana_qris_gds[dana_qris_gds.duplicated()]

Empty DataFrame
Columns: [created_datetime, last_updated_datetime, settlement_amount, username, product_type, charge_status, admin_fee, base_admin_fee, admin_fee_invoice, deduction_cost, deduction_cost_gross, transaction_amount, merchant_id, qr_id, Transaction Channel Type]
Index: []

In [13]:
gds_duplicated = dana_qris_gds[dana_qris_gds.duplicated()]

In [14]:
dana_qris_gds = dana_qris_gds.drop_duplicates()

In [15]:
dana_qris_report['MERCHANT_COMMISSION_EDIK'] = dana_qris_report['MERCHANT_COMMISSION_EDIK']/100

In [16]:
dana_qris_report['SERVICE_TAX_EDIK'] = dana_qris_report['SERVICE_TAX_EDIK']/100

In [17]:
dana_qris_report['SETTLE_AMOUNT'] = dana_qris_report['SETTLE_AMOUNT']/100

In [18]:
dana_qris_report['TXN_AMOUNT'] = dana_qris_report['TXN_AMOUNT']/100

In [19]:
dana_qris_report

,MID,SETTLE_DATE,TXN_AMOUNT,TXN_CURRENCY,TXN_DATE,MERCHANT_COMMISSION_EDIK,SERVICE_TAX_EDIK,WITHHOLDING_TAX_EDIK,SETTLE_AMOUNT,MERCHANT_TRANS_ID,PAY_METHOD
0,216620000628007855763,20240201,230000.0,IDR,2024-01-31T00:00:00+07:00,1451.30,159.64,0,228389.06,999ET7XEABGAQXUAAUQN8IF3,BALANCE
1,216620000628007855763,20240201,150000.0,IDR,2024-01-31T00:00:01+07:00,946.50,104.12,0,148949.38,VXQMFSOIXHBRPH7T31BPAKYI,NETWORK_PAY
2,216620000628007855763,20240201,50000.0,IDR,2024-01-31T00:00:02+07:00,315.50,34.71,0,49649.79,0K4FR5G151YJ2XRI27WA7R8Z,BALANCE
3,216620000628007855763,20240201,1000746.0,IDR,2024-01-31T00:00:02+07:00,6314.71,694.62,0,993736.67,Z9S1TZ3FGFK4JG32NL86O9E9,NETWORK_PAY
4,216620000628007855763,20240201,10000.0,IDR,2024-01-31T00:00:03+07:00,63.10,6.94,0,9929.96,GXRKKN1PICWBXC8GQSES1HZ5,BALANCE
...,...,...,...,...,...,...,...,...,...,...,...
97381,216620000628007855763,20240201,15000.0,IDR,2024-01-31T23:59:56+07:00,94.65,10.41,0,14894.94,34UVFGQGNH2LDATNPF6X3MDV,BALANCE
97382,216620000628007855763,20240201,11086.0,IDR,2024-01-31T23:59:56+07:00,69.95,7.69,0,11008.36,OE5MWQ4JG95F8IF7YADABFJX,BALANCE
97383,216620000628007855763,20240201,350000.0,IDR,2024-01-31T23:59:58+07:00,2208.50,242.94,0,347548.56,9533SHUGVN3TCDBE0PI4USP9,NETWORK_PAY
97384,216620000628007855763,20240201,50390.0,IDR,2024-01-31T23:59:58+07:00,317.96,34.98,0,50037.06,CIIG4SR06O6AVYRC71HGD882,BALANCE
97385,216620000628007855763,20240201,100000.0,IDR,2024-01-31T23:59:59+07:00,631.00,69.41,0,99299.59,7UDQ2CVFKQX9KAUVRNT3FHMX,NETWORK_PAY

In [20]:
#dana_qris_report[dana_qris_report['MERCHANT_TRANS_ID'] == 'WMSSO0SGM8WVZP2I2KT96T9M']

In [21]:
agg_functions = {'MERCHANT_TRANS_ID': 'first', 'TXN_AMOUNT': 'sum', 'MERCHANT_COMMISSION_EDIK' :'sum', 'SERVICE_TAX_EDIK' : 'sum', 'SETTLE_AMOUNT':'sum'}

In [22]:
new_dana_qris_report = dana_qris_report.groupby(dana_qris_report['MERCHANT_TRANS_ID']).aggregate(agg_functions)

In [23]:
#new_dana_qris_report[new_dana_qris_report['MERCHANT_TRANS_ID'] == '1R11G3ZLHRYCAIL1MB85YCR4']

In [24]:
new_dana_qris_report

,MERCHANT_TRANS_ID,TXN_AMOUNT,MERCHANT_COMMISSION_EDIK,SERVICE_TAX_EDIK,SETTLE_AMOUNT
MERCHANT_TRANS_ID,,,,,
000407XC1HD1MDL0QOPKQ95E,000407XC1HD1MDL0QOPKQ95E,25000.0,157.75,17.35,24824.90
0006CSM3E7E6RTZZUAAJUO6J,0006CSM3E7E6RTZZUAAJUO6J,30234.0,190.78,20.99,30022.23
000Y4Y44IXIRQ4QCP7JYEUK0,000Y4Y44IXIRQ4QCP7JYEUK0,1007800.0,6359.22,699.51,1000741.27
001JZ63HPZGUMKIN0LT4O5HX,001JZ63HPZGUMKIN0LT4O5HX,25000.0,157.75,17.35,24824.90
001TILVDNMZDVUQ4VQQ7UIJO,001TILVDNMZDVUQ4VQQ7UIJO,20000.0,126.20,13.88,19859.92
...,...,...,...,...,...
ZZX4971BSW1SRIXJXYHTFK0J,ZZX4971BSW1SRIXJXYHTFK0J,201560.0,1271.84,139.90,200148.26
ZZXLJVLGN5MRQ1B17U7F1NKH,ZZXLJVLGN5MRQ1B17U7F1NKH,33258.0,209.86,23.08,33025.06
ZZYLM949N28ZFGIGS2L11KQT,ZZYLM949N28ZFGIGS2L11KQT,25195.0,158.98,17.49,25018.53
ZZZ20V406QCIVF0NYT6KOORT,ZZZ20V406QCIVF0NYT6KOORT,50000.0,315.50,34.71,49649.79
ZZZMUM7LA2DHIYDM6A323PY4,ZZZMUM7LA2DHIYDM6A323PY4,30000.0,189.30,20.82,29789.88

In [25]:
new_dana_qris_report.rename(columns={"MERCHANT_TRANS_ID": "Unique"}, inplace=True)

In [26]:
#'TXN_AMOUNT' : 'TXN_AMOUNT1', 'MERCHANT_COMMISSION_EDIK' : 'MERCHANT_COMMISSION_EDIK1','SERVICE_TAX_EDIK' : 'SERVICE_TAX_EDIK1', 'SETTLE_AMOUNT' :'SETTLE_AMOUNT1'

In [27]:
coupon = dana_qris_report[dana_qris_report['PAY_METHOD'] == 'COUPON']

In [28]:
i = dana_qris_report[dana_qris_report['PAY_METHOD'] == 'COUPON'].index

In [29]:
dana_qris_report = dana_qris_report.drop(i)

In [30]:
dana_qris_report

,MID,SETTLE_DATE,TXN_AMOUNT,TXN_CURRENCY,TXN_DATE,MERCHANT_COMMISSION_EDIK,SERVICE_TAX_EDIK,WITHHOLDING_TAX_EDIK,SETTLE_AMOUNT,MERCHANT_TRANS_ID,PAY_METHOD
0,216620000628007855763,20240201,230000.0,IDR,2024-01-31T00:00:00+07:00,1451.30,159.64,0,228389.06,999ET7XEABGAQXUAAUQN8IF3,BALANCE
1,216620000628007855763,20240201,150000.0,IDR,2024-01-31T00:00:01+07:00,946.50,104.12,0,148949.38,VXQMFSOIXHBRPH7T31BPAKYI,NETWORK_PAY
2,216620000628007855763,20240201,50000.0,IDR,2024-01-31T00:00:02+07:00,315.50,34.71,0,49649.79,0K4FR5G151YJ2XRI27WA7R8Z,BALANCE
3,216620000628007855763,20240201,1000746.0,IDR,2024-01-31T00:00:02+07:00,6314.71,694.62,0,993736.67,Z9S1TZ3FGFK4JG32NL86O9E9,NETWORK_PAY
4,216620000628007855763,20240201,10000.0,IDR,2024-01-31T00:00:03+07:00,63.10,6.94,0,9929.96,GXRKKN1PICWBXC8GQSES1HZ5,BALANCE
...,...,...,...,...,...,...,...,...,...,...,...
97381,216620000628007855763,20240201,15000.0,IDR,2024-01-31T23:59:56+07:00,94.65,10.41,0,14894.94,34UVFGQGNH2LDATNPF6X3MDV,BALANCE
97382,216620000628007855763,20240201,11086.0,IDR,2024-01-31T23:59:56+07:00,69.95,7.69,0,11008.36,OE5MWQ4JG95F8IF7YADABFJX,BALANCE
97383,216620000628007855763,20240201,350000.0,IDR,2024-01-31T23:59:58+07:00,2208.50,242.94,0,347548.56,9533SHUGVN3TCDBE0PI4USP9,NETWORK_PAY
97384,216620000628007855763,20240201,50390.0,IDR,2024-01-31T23:59:58+07:00,317.96,34.98,0,50037.06,CIIG4SR06O6AVYRC71HGD882,BALANCE
97385,216620000628007855763,20240201,100000.0,IDR,2024-01-31T23:59:59+07:00,631.00,69.41,0,99299.59,7UDQ2CVFKQX9KAUVRNT3FHMX,NETWORK_PAY

In [31]:
new_dana_qris_report = pd.merge(dana_qris_report ,new_dana_qris_report, left_on='MERCHANT_TRANS_ID', right_on='Unique', how='outer')

In [32]:
new_dana_qris_report

,MID,SETTLE_DATE,TXN_AMOUNT_x,TXN_CURRENCY,TXN_DATE,MERCHANT_COMMISSION_EDIK_x,SERVICE_TAX_EDIK_x,WITHHOLDING_TAX_EDIK,SETTLE_AMOUNT_x,MERCHANT_TRANS_ID,PAY_METHOD,Unique,TXN_AMOUNT_y,MERCHANT_COMMISSION_EDIK_y,SERVICE_TAX_EDIK_y,SETTLE_AMOUNT_y
0,216620000628007855763,20240201,230000.0,IDR,2024-01-31T00:00:00+07:00,1451.30,159.64,0,228389.06,999ET7XEABGAQXUAAUQN8IF3,BALANCE,999ET7XEABGAQXUAAUQN8IF3,230000.0,1451.30,159.64,228389.06
1,216620000628007855763,20240201,150000.0,IDR,2024-01-31T00:00:01+07:00,946.50,104.12,0,148949.38,VXQMFSOIXHBRPH7T31BPAKYI,NETWORK_PAY,VXQMFSOIXHBRPH7T31BPAKYI,150000.0,946.50,104.12,148949.38
2,216620000628007855763,20240201,50000.0,IDR,2024-01-31T00:00:02+07:00,315.50,34.71,0,49649.79,0K4FR5G151YJ2XRI27WA7R8Z,BALANCE,0K4FR5G151YJ2XRI27WA7R8Z,50000.0,315.50,34.71,49649.79
3,216620000628007855763,20240201,1000746.0,IDR,2024-01-31T00:00:02+07:00,6314.71,694.62,0,993736.67,Z9S1TZ3FGFK4JG32NL86O9E9,NETWORK_PAY,Z9S1TZ3FGFK4JG32NL86O9E9,1000746.0,6314.71,694.62,993736.67
4,216620000628007855763,20240201,10000.0,IDR,2024-01-31T00:00:03+07:00,63.10,6.94,0,9929.96,GXRKKN1PICWBXC8GQSES1HZ5,BALANCE,GXRKKN1PICWBXC8GQSES1HZ5,10000.0,63.10,6.94,9929.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96837,216620000628007855763,20240201,15000.0,IDR,2024-01-31T23:59:56+07:00,94.65,10.41,0,14894.94,34UVFGQGNH2LDATNPF6X3MDV,BALANCE,34UVFGQGNH2LDATNPF6X3MDV,15000.0,94.65,10.41,14894.94
96838,216620000628007855763,20240201,11086.0,IDR,2024-01-31T23:59:56+07:00,69.95,7.69,0,11008.36,OE5MWQ4JG95F8IF7YADABFJX,BALANCE,OE5MWQ4JG95F8IF7YADABFJX,11086.0,69.95,7.69,11008.36
96839,216620000628007855763,20240201,350000.0,IDR,2024-01-31T23:59:58+07:00,2208.50,242.94,0,347548.56,9533SHUGVN3TCDBE0PI4USP9,NETWORK_PAY,9533SHUGVN3TCDBE0PI4USP9,350000.0,2208.50,242.94,347548.56
96840,216620000628007855763,20240201,50390.0,IDR,2024-01-31T23:59:58+07:00,317.96,34.98,0,50037.06,CIIG4SR06O6AVYRC71HGD882,BALANCE,CIIG4SR06O6AVYRC71HGD882,50390.0,317.96,34.98,50037.06
96841,216620000628007855763,20240201,100000.0,IDR,2024-01-31T23:59:59+07:00,631.00,69.41,0,99299.59,7UDQ2CVFKQX9KAUVRNT3FHMX,NETWORK_PAY,7UDQ2CVFKQX9KAUVRNT3FHMX,100000.0,631.00,69.41,99299.59

In [33]:
new_dana_qris_report = new_dana_qris_report.drop(['TXN_AMOUNT_x','MERCHANT_COMMISSION_EDIK_x','SERVICE_TAX_EDIK_x','WITHHOLDING_TAX_EDIK','SETTLE_AMOUNT_x'],axis=1)

In [34]:
new_dana_qris_report

,MID,SETTLE_DATE,TXN_CURRENCY,TXN_DATE,MERCHANT_TRANS_ID,PAY_METHOD,Unique,TXN_AMOUNT_y,MERCHANT_COMMISSION_EDIK_y,SERVICE_TAX_EDIK_y,SETTLE_AMOUNT_y
0,216620000628007855763,20240201,IDR,2024-01-31T00:00:00+07:00,999ET7XEABGAQXUAAUQN8IF3,BALANCE,999ET7XEABGAQXUAAUQN8IF3,230000.0,1451.30,159.64,228389.06
1,216620000628007855763,20240201,IDR,2024-01-31T00:00:01+07:00,VXQMFSOIXHBRPH7T31BPAKYI,NETWORK_PAY,VXQMFSOIXHBRPH7T31BPAKYI,150000.0,946.50,104.12,148949.38
2,216620000628007855763,20240201,IDR,2024-01-31T00:00:02+07:00,0K4FR5G151YJ2XRI27WA7R8Z,BALANCE,0K4FR5G151YJ2XRI27WA7R8Z,50000.0,315.50,34.71,49649.79
3,216620000628007855763,20240201,IDR,2024-01-31T00:00:02+07:00,Z9S1TZ3FGFK4JG32NL86O9E9,NETWORK_PAY,Z9S1TZ3FGFK4JG32NL86O9E9,1000746.0,6314.71,694.62,993736.67
4,216620000628007855763,20240201,IDR,2024-01-31T00:00:03+07:00,GXRKKN1PICWBXC8GQSES1HZ5,BALANCE,GXRKKN1PICWBXC8GQSES1HZ5,10000.0,63.10,6.94,9929.96
...,...,...,...,...,...,...,...,...,...,...,...
96837,216620000628007855763,20240201,IDR,2024-01-31T23:59:56+07:00,34UVFGQGNH2LDATNPF6X3MDV,BALANCE,34UVFGQGNH2LDATNPF6X3MDV,15000.0,94.65,10.41,14894.94
96838,216620000628007855763,20240201,IDR,2024-01-31T23:59:56+07:00,OE5MWQ4JG95F8IF7YADABFJX,BALANCE,OE5MWQ4JG95F8IF7YADABFJX,11086.0,69.95,7.69,11008.36
96839,216620000628007855763,20240201,IDR,2024-01-31T23:59:58+07:00,9533SHUGVN3TCDBE0PI4USP9,NETWORK_PAY,9533SHUGVN3TCDBE0PI4USP9,350000.0,2208.50,242.94,347548.56
96840,216620000628007855763,20240201,IDR,2024-01-31T23:59:58+07:00,CIIG4SR06O6AVYRC71HGD882,BALANCE,CIIG4SR06O6AVYRC71HGD882,50390.0,317.96,34.98,50037.06
96841,216620000628007855763,20240201,IDR,2024-01-31T23:59:59+07:00,7UDQ2CVFKQX9KAUVRNT3FHMX,NETWORK_PAY,7UDQ2CVFKQX9KAUVRNT3FHMX,100000.0,631.00,69.41,99299.59

In [35]:
new_dana_qris_report = new_dana_qris_report.add_suffix('_DASH')

In [36]:
dana_qris_gds = dana_qris_gds.add_suffix('_GDS')

In [37]:
data_compare = pd.merge(new_dana_qris_report,dana_qris_gds, left_on='MERCHANT_TRANS_ID_DASH', right_on='qr_id_GDS', how='outer', indicator=True)

In [38]:
data_compare

,MID_DASH,SETTLE_DATE_DASH,TXN_CURRENCY_DASH,TXN_DATE_DASH,MERCHANT_TRANS_ID_DASH,PAY_METHOD_DASH,Unique_DASH,TXN_AMOUNT_y_DASH,MERCHANT_COMMISSION_EDIK_y_DASH,SERVICE_TAX_EDIK_y_DASH,...,admin_fee_GDS,base_admin_fee_GDS,admin_fee_invoice_GDS,deduction_cost_GDS,deduction_cost_gross_GDS,transaction_amount_GDS,merchant_id_GDS,qr_id_GDS,Transaction Channel Type_GDS,_merge
0,216620000628007855763,20240201,IDR,2024-01-31T00:00:00+07:00,999ET7XEABGAQXUAAUQN8IF3,BALANCE,999ET7XEABGAQXUAAUQN8IF3,230000.0,1451.30,159.64,...,1787.0,1610.0,0.0,1529.50000,1610.000,230000.0,taratara,999ET7XEABGAQXUAAUQN8IF3,ON_US,both
1,216620000628007855763,20240201,IDR,2024-01-31T00:00:01+07:00,VXQMFSOIXHBRPH7T31BPAKYI,NETWORK_PAY,VXQMFSOIXHBRPH7T31BPAKYI,150000.0,946.50,104.12,...,1166.0,1050.0,0.0,989.25000,1050.000,150000.0,taratara,VXQMFSOIXHBRPH7T31BPAKYI,OFF_US,both
2,216620000628007855763,20240201,IDR,2024-01-31T00:00:02+07:00,0K4FR5G151YJ2XRI27WA7R8Z,BALANCE,0K4FR5G151YJ2XRI27WA7R8Z,50000.0,315.50,34.71,...,389.0,350.0,0.0,332.50000,350.000,50000.0,taratara,0K4FR5G151YJ2XRI27WA7R8Z,ON_US,both
3,216620000628007855763,20240201,IDR,2024-01-31T00:00:02+07:00,Z9S1TZ3FGFK4JG32NL86O9E9,NETWORK_PAY,Z9S1TZ3FGFK4JG32NL86O9E9,1000746.0,6314.71,694.62,...,7777.0,7006.0,0.0,6599.91987,7005.222,1000746.0,taranova,Z9S1TZ3FGFK4JG32NL86O9E9,OFF_US,both
4,216620000628007855763,20240201,IDR,2024-01-31T00:00:03+07:00,GXRKKN1PICWBXC8GQSES1HZ5,BALANCE,GXRKKN1PICWBXC8GQSES1HZ5,10000.0,63.10,6.94,...,78.0,70.0,0.0,66.50000,70.000,10000.0,taratara,GXRKKN1PICWBXC8GQSES1HZ5,ON_US,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96837,216620000628007855763,20240201,IDR,2024-01-31T23:59:56+07:00,34UVFGQGNH2LDATNPF6X3MDV,BALANCE,34UVFGQGNH2LDATNPF6X3MDV,15000.0,94.65,10.41,...,117.0,105.0,0.0,99.75000,105.000,15000.0,taratara,34UVFGQGNH2LDATNPF6X3MDV,ON_US,both
96838,216620000628007855763,20240201,IDR,2024-01-31T23:59:56+07:00,OE5MWQ4JG95F8IF7YADABFJX,BALANCE,OE5MWQ4JG95F8IF7YADABFJX,11086.0,69.95,7.69,...,87.0,78.0,0.0,73.72190,77.602,11086.0,taranova,OE5MWQ4JG95F8IF7YADABFJX,ON_US,both
96839,216620000628007855763,20240201,IDR,2024-01-31T23:59:58+07:00,9533SHUGVN3TCDBE0PI4USP9,NETWORK_PAY,9533SHUGVN3TCDBE0PI4USP9,350000.0,2208.50,242.94,...,2720.0,2450.0,0.0,2308.25000,2450.000,350000.0,taratara,9533SHUGVN3TCDBE0PI4USP9,OFF_US,both
96840,216620000628007855763,20240201,IDR,2024-01-31T23:59:58+07:00,CIIG4SR06O6AVYRC71HGD882,BALANCE,CIIG4SR06O6AVYRC71HGD882,50390.0,317.96,34.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
96841,216620000628007855763,20240201,IDR,2024-01-31T23:59:59+07:00,7UDQ2CVFKQX9KAUVRNT3FHMX,NETWORK_PAY,7UDQ2CVFKQX9KAUVRNT3FHMX,100000.0,631.00,69.41,...,777.0,700.0,0.0,659.50000,700.000,100000.0,taratara,7UDQ2CVFKQX9KAUVRNT3FHMX,OFF_US,both

In [39]:
data_compare['Match?'] = np.where((data_compare['MERCHANT_TRANS_ID_DASH'] == data_compare['qr_id_GDS']) & (data_compare['TXN_AMOUNT_y_DASH'] == data_compare['transaction_amount_GDS']) , "Recon", "Unrecon")

In [40]:
data_compare

,MID_DASH,SETTLE_DATE_DASH,TXN_CURRENCY_DASH,TXN_DATE_DASH,MERCHANT_TRANS_ID_DASH,PAY_METHOD_DASH,Unique_DASH,TXN_AMOUNT_y_DASH,MERCHANT_COMMISSION_EDIK_y_DASH,SERVICE_TAX_EDIK_y_DASH,...,base_admin_fee_GDS,admin_fee_invoice_GDS,deduction_cost_GDS,deduction_cost_gross_GDS,transaction_amount_GDS,merchant_id_GDS,qr_id_GDS,Transaction Channel Type_GDS,_merge,Match?
0,216620000628007855763,20240201,IDR,2024-01-31T00:00:00+07:00,999ET7XEABGAQXUAAUQN8IF3,BALANCE,999ET7XEABGAQXUAAUQN8IF3,230000.0,1451.30,159.64,...,1610.0,0.0,1529.50000,1610.000,230000.0,taratara,999ET7XEABGAQXUAAUQN8IF3,ON_US,both,Recon
1,216620000628007855763,20240201,IDR,2024-01-31T00:00:01+07:00,VXQMFSOIXHBRPH7T31BPAKYI,NETWORK_PAY,VXQMFSOIXHBRPH7T31BPAKYI,150000.0,946.50,104.12,...,1050.0,0.0,989.25000,1050.000,150000.0,taratara,VXQMFSOIXHBRPH7T31BPAKYI,OFF_US,both,Recon
2,216620000628007855763,20240201,IDR,2024-01-31T00:00:02+07:00,0K4FR5G151YJ2XRI27WA7R8Z,BALANCE,0K4FR5G151YJ2XRI27WA7R8Z,50000.0,315.50,34.71,...,350.0,0.0,332.50000,350.000,50000.0,taratara,0K4FR5G151YJ2XRI27WA7R8Z,ON_US,both,Recon
3,216620000628007855763,20240201,IDR,2024-01-31T00:00:02+07:00,Z9S1TZ3FGFK4JG32NL86O9E9,NETWORK_PAY,Z9S1TZ3FGFK4JG32NL86O9E9,1000746.0,6314.71,694.62,...,7006.0,0.0,6599.91987,7005.222,1000746.0,taranova,Z9S1TZ3FGFK4JG32NL86O9E9,OFF_US,both,Recon
4,216620000628007855763,20240201,IDR,2024-01-31T00:00:03+07:00,GXRKKN1PICWBXC8GQSES1HZ5,BALANCE,GXRKKN1PICWBXC8GQSES1HZ5,10000.0,63.10,6.94,...,70.0,0.0,66.50000,70.000,10000.0,taratara,GXRKKN1PICWBXC8GQSES1HZ5,ON_US,both,Recon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96837,216620000628007855763,20240201,IDR,2024-01-31T23:59:56+07:00,34UVFGQGNH2LDATNPF6X3MDV,BALANCE,34UVFGQGNH2LDATNPF6X3MDV,15000.0,94.65,10.41,...,105.0,0.0,99.75000,105.000,15000.0,taratara,34UVFGQGNH2LDATNPF6X3MDV,ON_US,both,Recon
96838,216620000628007855763,20240201,IDR,2024-01-31T23:59:56+07:00,OE5MWQ4JG95F8IF7YADABFJX,BALANCE,OE5MWQ4JG95F8IF7YADABFJX,11086.0,69.95,7.69,...,78.0,0.0,73.72190,77.602,11086.0,taranova,OE5MWQ4JG95F8IF7YADABFJX,ON_US,both,Recon
96839,216620000628007855763,20240201,IDR,2024-01-31T23:59:58+07:00,9533SHUGVN3TCDBE0PI4USP9,NETWORK_PAY,9533SHUGVN3TCDBE0PI4USP9,350000.0,2208.50,242.94,...,2450.0,0.0,2308.25000,2450.000,350000.0,taratara,9533SHUGVN3TCDBE0PI4USP9,OFF_US,both,Recon
96840,216620000628007855763,20240201,IDR,2024-01-31T23:59:58+07:00,CIIG4SR06O6AVYRC71HGD882,BALANCE,CIIG4SR06O6AVYRC71HGD882,50390.0,317.96,34.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,Unrecon
96841,216620000628007855763,20240201,IDR,2024-01-31T23:59:59+07:00,7UDQ2CVFKQX9KAUVRNT3FHMX,NETWORK_PAY,7UDQ2CVFKQX9KAUVRNT3FHMX,100000.0,631.00,69.41,...,700.0,0.0,659.50000,700.000,100000.0,taratara,7UDQ2CVFKQX9KAUVRNT3FHMX,OFF_US,both,Recon

In [41]:
data_compare['_merge'] = data_compare['_merge'].cat.rename_categories({'left_only': 'Dash Only', 'right_only': 'GDS Only'})

In [42]:
#data_compare.rename(columns={"last_updated_datetime": "Date"}, inplace=True)

In [43]:
unrecon = data_compare[data_compare['Match?'] == 'Unrecon']

In [44]:
indexunrecon = data_compare[data_compare['Match?'] == 'Unrecon'].index

In [45]:
data_compare = data_compare.drop(indexunrecon)

In [46]:
with pd.ExcelWriter("Dana Qris 31 Jan 24 New Template.xlsx") as writer:
    dana_qris_gds_raw.to_excel(writer, sheet_name="GDS Raw", index=False)
    dana_qris_report_raw.to_excel(writer, sheet_name="Dash Report Raw", index=False)
    data_compare.to_excel(writer, sheet_name="Line Per Line Recon", index=False)
    unrecon.to_excel(writer, sheet_name="Unrecon", index=False)
    dash_duplicated.to_excel(writer, sheet_name="Multiple Dash", index=False)
    gds_duplicated.to_excel(writer, sheet_name="Multiple GDS", index=False)

In [47]:
print("Done")

Done

In [48]:
dana_qris_report_raw['TXN_DATE'] = pd.to_datetime(dana_qris_report_raw['TXN_DATE']).dt.date

In [49]:
dana_qris_report_raw['MERCHANT_COMMISSION_EDIK'] = dana_qris_report_raw['MERCHANT_COMMISSION_EDIK']/100

In [50]:
dana_qris_report_raw['SERVICE_TAX_EDIK'] = dana_qris_report_raw['SERVICE_TAX_EDIK']/100

In [51]:
dana_qris_report_raw['SETTLE_AMOUNT'] = dana_qris_report_raw['SETTLE_AMOUNT']/100

In [52]:
dana_qris_report_raw['TXN_AMOUNT'] = dana_qris_report_raw['TXN_AMOUNT']/100

In [53]:
NIC = dana_qris_report_raw[['TXN_DATE','MERCHANT_TRANS_ID','TXN_AMOUNT','MERCHANT_COMMISSION_EDIK','SERVICE_TAX_EDIK','SETTLE_AMOUNT']]

In [54]:
pd.options.mode.copy_on_write = True

In [55]:
NIC['MERCHANT_COMMISSION_EDIK'] = NIC['MERCHANT_COMMISSION_EDIK'] + NIC['SERVICE_TAX_EDIK']

In [56]:
NIC = NIC.drop(['SERVICE_TAX_EDIK'], axis = 1)

In [57]:
NIC.rename(columns={'TXN_DATE' : "Date", 'TXN_AMOUNT' : 'TPV', 'MERCHANT_COMMISSION_EDIK' : 'MM Cost'}, inplace=True)

In [58]:
NIC = NIC.groupby(['Date']).agg({'MERCHANT_TRANS_ID':'count','TPV' : 'sum', 'MM Cost' :'sum', 'SETTLE_AMOUNT' : 'sum'})

In [59]:
NIC.rename(columns = {'MERCHANT_TRANS_ID' : "#Trx"}, inplace = True)

In [60]:
NIC

             #Trx           TPV     MM Cost  SETTLE_AMOUNT
Date
2024-01-31  97386  7.729046e+09  54135050.9   7.674911e+09

In [61]:
with pd.ExcelWriter("NIC DANA E-Wallet.xlsx") as writer:
    NIC.to_excel(writer, sheet_name="NIC DANA E-Wallet", index=True) #notes : using this code only for the first date

In [62]:
reader = pd.read_excel('NIC DANA E-Wallet.xlsx')

In [63]:
with pd.ExcelWriter('NIC DANA E-Wallet.xlsx',
                    mode='a', if_sheet_exists = 'overlay') as writer:  
    NIC.to_excel(writer, sheet_name='NIC DANA E-Wallet', startrow = len(reader) + 1, header=False, index=True)

In [64]:
print('Done')

Done

In [65]:
#groupByUsername = data_compare[['username','product_type','Transaction Channel Type','transaction_amount','deduction_cost_gross','admin_fee', 'admin_fee_invoice']]

In [66]:
#groupByUsername = groupByUsername.groupby(['username','product_type','Transaction Channel Type']).agg({'username':'count','transaction_amount' : 'sum', 'deduction_cost_gross' :'sum', 'admin_fee' : 'sum', 'admin_fee_invoice' : 'sum' })

In [67]:
#groupByUsername

In [68]:
#with pd.ExcelWriter("tes qris dana.xlsx") as writer:
    #data_compare.to_excel(writer, sheet_name="Line Per Line", index=False)
    #groupByUsername.to_excel(writer, sheet_name="GroupbyUsername", index=True)

In [69]:
#print('Done')